services:
  mongo:
    container_name: db
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass      

# PARA CRIAR O COMPOSE PODEMOS BUSCAR EM DOCKERHUB